.background {
    background-color: #141414;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error{
    color: red;
    font-weight: bold;
}